@import url('https://fonts.googleapis.com/css?family=Lato|Quattrocento+Sans:400,700');

body {
  font-family: 'Lato', sans-serif;
}

h1, h2 {
  margin-top: 50px;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
  color: #446CB3;
}

footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

hr {
  border-top: 1px solid #446CB3;
}

hr.section {
  width: 50%;
}

button {
  background-color: #777;
  color: #FFF;
}

input:hover {
  cursor: pointer;
}

nav {
  height: 40px;
  padding-top: 10px;
  background-color: #222;
  font-size: 28px;
  text-align: center;
  color: #FFF;
  font-family: 'Quattrocento Sans', sans-serif;
}

a, a:hover {
  text-decoration: none;
}

a.home-link {
  color: #FFF;
}

span.button {
  font-weight: 700;
  color: #446CB3;
}

#canvas {
  width: 100%;
  height: auto;
}

#arrow-keys {
  position: absolute;
  z-index: 2000;
  margin: 80px 500px 100px 500px;
  width: 400px;
  height: auto;
}

#start {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
}

#pause {
  display: none;
  width: 75px;
  height: auto;
  margin: 0 auto;
}

#resume {
  display: none;
  width: 75px;
  height: auto;
  margin: 0 auto;
}

#game-over-menu {
  display: none;
  position: absolute;
  width: 100px;
  height: 400px;
  background-color: #446CB3;
  color: white;
}

.navbar {
  display: flex;
  justify-content: center;
  height: 50px;
}

.icon-img {
  width: 60px;
  height: auto;
  float: left;
}

.text-center {
  font-size: 20px;
  color: #446CB3;
}

#icons {
  margin-top: 50px; 
}
