@import url('https://fonts.googleapis.com/css?family=Acme|Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Lato:300');

#canvas {
  width: 100%;
  height: auto;
}
input:hover {
  cursor: pointer;
}

.container {

}

.title {
  text-align: center;
  font-family: Acme;
  font-size: 30px;
  color: #4286f4;
}

hr {
  width: 200px;
  border-top: 1px solid #4286f4;
}

.icon-img {
  width: 50px;
  height: auto;
  float: right;
}

.description {
  float: left;
  font-family: Lato;
}


#text-description {
  margin-top: 50px;
}

#arrow-keys {
  position: absolute;
  z-index: 2000;
  margin: 80px 500px 100px 500px;
  width: 400px;
  height: auto;
}

button {
  background-color: grey;
  color: white;
}

#start {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
}

#pause {
  display: none;
  width: 75px;
  height: auto;
  margin: 0 auto;
}

#resume {
  display: none;
  width: 75px;
  height: auto;
  margin: 0 auto;
}

#game-over-menu {
  display: none;
  position: absolute;
  width: 100px;
  height: 400px;
  background-color: blue;
  color: white;
}
